.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: yellow !important;
    background-color: red;
    border-radius: 15px;
}

.navbar-brand{
    font-weight: bold;
}

.nav-item .active{
    background-color: orange;
    border-radius: 30px;
}


.page-title{
    color: red;
    font-size: 2em;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    padding: .5em 1em;
    box-shadow: 0px 0px 2px #111;
    width: 38%;
    margin: 0 auto;
    text-transform: uppercase;
}



/* START ABOUT PAGE CSS */
.section-subtitle{
    margin-bottom: 7px;
    padding-left: 7px;
    text-transform: uppercase;
    color: #aaa;
    font-size: 70px;
    font-family: 'Tahoma';
    border-left: 3px solid;
    line-height: 1;
}


.section-main-title{
    margin-bottom: 35px;
    font-size: 30px;
}


.about-item{
    color: red;
}

.aboout-box{
    box-shadow: 0 0 0 10px #000000 inset;
    margin-right: 0;
    margin-top: 0;
    position: relative;
    display: block  ;
}

.about-box img{
    width: 300px;
    transform: translate Y(30px) translate(-30px);
}

/* END ABOUT PAGE CSS */


/* contact page css */
#contact{
    background: url("/static/images/contact_us.jpg");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center;
    display: block;
}


