{% extends 'index.html'  %}
{% load static %}

{% block content1 %}
<br><br><br><br><br>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section-title">
                    <div class="section-subtitle">
                        About Us
                    </div>
                    <h2 class="section-main-title"><strong> We Are Professional </strong></h2>
                </div>
                <div class="about-item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, commodi aut. 
                        Itaque illum dolorum aliquid aspernatur soluta provident voluptates nisi, quae, 
                        architecto obcaecati expedita delectus nobis ipsam quibusdam at beatae.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque saepe aliquid a corrupti, 
                        eius magnam necessitatibus? Assumenda minus officia dicta provident rerum animi dolorum 
                        voluptate amet. Amet accusamus adipisci sint inventore repellat veniam temporibus repellendus 
                        consectetur repudiandae itaque quia obcaecati, odit sequi quas. Quo deserunt architecto 
                        laudantium quasi similique repellendus?
                    </p>
                </div>
            </div>
            <div class="col-sm-4 offset-sm-2">
                <div class="about-box">
                    <img src="{% static 'images/img2.jpg' %}">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content1 %}