{% extends 'admin_base.html' %}

{% block main %} 

<div class="card shadow m-2" >
    <div class="card-body">
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange;">Edit Service Detail</h5>
    </div>
    <div  class="container-fluid">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="servicetitle">Service Title</label>
                        <input type="text" name="servicetitle" class="form-control" placeholder="Enter Service title" value="{{service.title}}">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" class="form-control" placeholder="description">{{service.discription}}</textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="file">Image</label>
                        <input type="file" name="file" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <img src="{{service.image.url}}" height="60px" class="mt-3">
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary m-3 px-3">
            
        </form>
    </div>
</div>

{% if error == "no" %}
<script>
    alert('Service detail has been Updated !!');
    window.location = ('{% url 'edit_service' service.id  %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert('Something went wrong, Try again !!!');
</script>
{% endif %}

{% endblock main %}